 <!doctype HTML>
<html>
  <head>  <title> Squacoon Sighting Report Form </title>
  <link rel = "stylesheet" type = "text/css"  href= "css/style.css">
  
  </head>
  
  <body>
  <h2>  Squacoon Sighting Report Form </h2>
  <form method = "post">
    <label for "name"> Name </label> <input type = "text" name = "name">
   <br>
    <label for "contact"> Contact </label>
    <input type = "email" name = "contact">
    <br>
    <label for "date"> Date </label> <br> <input type = "date" name = "date">
    <br>
    <label for "emotion"> Emotional Response </label><br>
    <select name = "emotion">
      <option class = "label" value = "panic"> Panic </option>
      <option class = "label" value = "cute" > Awww </option>
      <option class = "label"i value = "Noble"> Awed Respect </otpion>
    </select>
  <br>
    <input type = "submit" value = "Submit">
    
  </form>
  <img width = "250" height = "180" src = "http://bekat.yolasite.com/resources/squacoon.JPG.opt378x275o0,0s378x275.JPG"
  > </body>
</html>
