body{
  font-family: 'sans-serif';
}

h2{ 
  font: strong;
  text-align: center;
}

form{
  width: 33%;
  padding: 10px;
  margin-left: 33%;
  margin-right: 33%;
  margin-bottom: 5%;
}

form{
  
  border: 1px solid;
  border-radius: 5px;
}

label, input, option{
  margin-top: 2%;
  margin-bottom: 2%;
  
}
img{
  margin-left: 31%;
  margin-right: 33%;
}